In [6]:
import pandas as pd

In [14]:
pd.read_csv("./data/train.csv", encoding="utf-8")

          id  label                                              value
0          0      0  keyone=R89y0wdIlTHA2zgyd1CC&keytwo=jQuery21405...
1          1      0  keyone=7971532921&keytwo=7973850305&keythree=e...
2          2      1  keyone=jsonp807&keytwo=foo%2527%2529%2529%2529...
3          3      0  keyone=%25E9%25AD%2594%25E5%258A%259B%25E6%259...
4          4      0  keyone=1477491716660_1713&keytwo=1477534391431...
5          5      0         keyone=1477730577831_260&keytwo=7983342629
6          6      0  keyone=1477199864802_234&keytwo=12036&keythree...
7          7      0  keyone=1477138255498_51&keytwo=1478681578350&k...
8          8      0                         keyone=4&keytwo=1030631513
9          9      0  keyone=7980372516&keytwo=7974180019&keythree=1...
10        10      0  keyone=524619862570&keytwo=B2btMQp1q&keythree=...
11        11      0   keyone=520835596&keytwo=7975690116&keythree=2980
12        12      0        keyone=XHBV6OGy3q&keytwo=1476857285426_1425
13        13      0  keyone=7968912005&keytwo=7983006756&keythree=7...
14        14      0  keyone=jsonp31&keytwo=89769e0eeaee&keythree=76...
15        15      0  keyone=46&keytwo=jQuery18303207525254817132_14...
16        16      0  keyone=1479152882096_1497&keytwo=jsonp693&keyt...
17        17      0                    keyone=190&keytwo=73f55e555fe31
18        18      0  keyone=1478173978695_153&keytwo=1478595047224_...
19        19      0  keyone=b8c1c7a0daf3ae58b74b88b050224867&keytwo...
20        20      0      keyone=7971480504&keytwo=1868384709&keythree=
21        21      0  keyone=1478092166892_64&keytwo=fe667361be773&k...
22        22      0  keyone=1478965715964&keytwo=a21ct.88421.403494...
23        23      0  keyone=lbCRKynxhWpdhzdwos1M&keytwo=7977042895&...
24        24      0  keyone=1478679332387_1550&keytwo=1476978182401...
25        25      0  keyone=7968182347&keytwo=6&keythree=13%2C6800%...
26        26      0  keyone=7869214621&keytwo=http%253A%252F%252Fs....
27        27      0  keyone=jsonp177&keytwo=3455961eff463&keythree=...
28        28      1  keyone=7975876338&keytwo=0+UNION+SELECT+AES_DE...
29        29      0                       keyone=1478661548429&keytwo=
...      ...    ...                                                ...
29970  29970      0             keyone=7982862182&keytwo=1478591973968
29971  29971      0  keyone=7965534288&keytwo=10138ce6bc.156b4cc951...
29972  29972      0  keyone=6e243650-e822-49e8-9830-031083bdc029&ke...
29973  29973      0  keyone=7765562185&keytwo=QURu6MvMMjukc3hWu2asM...
29974  29974      0  keyone=tbcc_items_discounts_1478503417592&keyt...
29975  29975      0                      keyone=1478226538150&keytwo=2
29976  29976      0                        keyone=7968492867&keytwo=14
29977  29977      0  keyone=13641&keytwo=7555618517&keythree=794891...
29978  29978      0  keyone=GPNSAhBPBrEgbIGGWXA5&keytwo=14791909322...
29979  29979      0  keyone=utf-8&keytwo=7956506738&keythree=797472...
29980  29980      0  keyone=jsonp173&keytwo=a310p.7395725.199804270...
29981  29981      1  keyone=1&keytwo=1%2525%2527%2529%2520UNION%252...
29982  29982      1  keyone=-4594%2529%2520UNION%2520ALL%2520SELECT...
29983  29983      0  keyone=7687192222&keytwo=f333e5131831b&keythre...
29984  29984      0  keyone=7827988606&keytwo=a21bo.50862.201879-it...
29985  29985      0  keyone=1477378564669_196&keytwo=1477636546605&...
29986  29986      0         keyone=1476937767772_300&keytwo=7712142407
29987  29987      0  keyone=a310p.7395723_3.1998038892.2.pOAdck&key...
29988  29988      0  keyone=1479273567116_63&keytwo=0&keythree=1478...
29989  29989      0  keyone=1476950300077_25282&keytwo=147860964841...
29990  29990      0   keyone=1477778137196_63&keytwo=1478007414009_240
29991  29991      0  keyone=jsonp6900&keytwo=1477012449647_230&keyt...
29992  29992      0                keyone=7980912146&keytwo=7982844534
29993  29993      0  keyone=VV9bVcN3BNfekDLMqwjM&keytwo=14773656635...
29994  29994      0  keyone=1&keytwo=7915462937&keythree=280888620&...
29995  29995      0  keyone=76743259&keytwo=1741087153&keythree=797...
29996  29996      0  keyone=7844064979&keytwo=828138289&keythree=14...
29997  29997      0  keyone=7982932176&keytwo=1477736408273_51&keyt...
29998  29998      0  keyone=1478664851700_64&keytwo=6djgFC4CfRdoKQV...
29999  29999      0  keyone=7974134765&keytwo=7762798185&keythree=1...

[30000 rows x 3 columns]

In [17]:
pd.read_csv("./data/test.csv", encoding="utf-8")

           id                                              value
0           0  keyone=user%2520denied%2520your%2520request.&k...
1           1          keyone=1479202611276_599&keytwo=w2uHh951q
2           2     keyone=4&keytwo=7983990895&keythree=7740726305
3           3    keyone=data&keytwo=jsonp348&keythree=1119720249
4           4  keyone=20880674&keytwo=7977104874&keythree=788...
5           5  keyone=408749530&keytwo=it+won%27t+harm+anyone...
6           6  keyone=1478879528096&keytwo=1478607765366_581&...
7           7         keyone=7977048131&keytwo=1477365183431_193
8           8  keyone=477764104&keytwo=5&keythree=14779086901...
9           9  keyone=11331&keytwo=jsonp432&keythree=74023666...
10         10           keyone=1478606607196_204&keytwo=jsonp367
11         11  keyone=a310p.2214973.a214z70.5.39uEEY&keytwo=a...
12         12  keyone=FJPmWjZcR3IG&keytwo=7976422053&keythree...
13         13  keyone=1478681033684_220&keytwo=100201&keythre...
14         14  keyone=7965586586&keytwo=10&keythree=147800666...
15         15  keyone=1477788881237_196&keytwo=1478323981068_...
16         16             keyone=7973812293&keytwo=e5e35757ee705
17         17  keyone=1477821565685&keytwo=a1z02.1.1998049144...
18         18  keyone=e4bbe37fbde4d&keytwo=1478484387117_180&...
19         19  keyone=1479259762946_839&keytwo=199518712&keyt...
20         20           keyone=203660678&keytwo=1478169435948_64
21         21  keyone=1478962592470_236&keytwo=7983122081&key...
22         22  keyone=1478269265557_585&keytwo=1479258295809_296
23         23  keyone=tig75bqMCHkF&keytwo=537141154170&keythr...
24         24  keyone=1477583329126_303&keytwo=0&keythree=a21...
25         25  keyone=1781527114&keytwo=7964698854&keythree=7...
26         26             keyone=7975924983&keytwo=1476861894584
27         27  keyone=7983774707&keytwo=1477300040848_185&key...
28         28  keyone=jQuery172016050857945495456_14768448289...
29         29  keyone=7948262277&keytwo=1479107089069_168&key...
...       ...                                                ...
199970  99970  keyone=1478208059836_180&keytwo=1476843919019_...
199971  99971                  keyone=7974822710&keytwo=jsonp188
199972  99972  keyone=1477660928976_63&keytwo=1478076721974_2...
199973  99973  keyone=1476785472979_51&keytwo=cI1EJUG6ckiK&ke...
199974  99974         keyone=1477729708231_141&keytwo=7973810215
199975  99975  keyone=7742424244&keytwo=a21bo.50862.201879-it...
199976  99976  keyone=39KPAvppRUfC&keytwo=a310p.7395723_3.199...
199977  99977   keyone=1476875897896_65&keytwo=1476932169039_193
199978  99978                  keyone=1844005825&keytwo=jsonp642
199979  99979  keyone=a310p.7395725.1998042707.37.Hz1dBg&keyt...
199980  99980  keyone=7859890459&keytwo=7975078574&keythree=7...
199981  99981         keyone=1478239134407_111&keytwo=7982534640
199982  99982  keyone=6&keytwo=2127840501&keythree=7976366009...
199983  99983  keyone=7977088054&keytwo=7982822568&keythree=1...
199984  99984  keyone=1477867884846_51&keytwo=1162&keythree=9...
199985  99985  keyone=3&keytwo=1478519902876&keythree=5339745...
199986  99986  keyone=7979658897&keytwo=12_b45987415186744590...
199987  99987  keyone=1476944076369_167&keytwo=1477665440699_...
199988  99988  keyone=oGpVsch2Uk_0TLEEfvFZ6kJATifgCYrNUw20Okw...
199989  99989  keyone=7983016818&keytwo=528469390850&keythree...
199990  99990                      keyone=2967&keytwo=7956948011
199991  99991  keyone=1479112763343&keytwo=7913012320&keythre...
199992  99992  keyone=a064176f-cd82-469e-9994-cbd2f6fdc197&ke...
199993  99993  keyone=1478668183010_532&keytwo=32ed592c289610...
199994  99994  keyone=11473&keytwo=1477483240069_179&keythree...
199995  99995  keyone=820415501&keytwo=jsonp169&keythree=7945...
199996  99996  keyone=11468&keytwo=7983726236&keythree=834994423
199997  99997  keyone=2379109462&keytwo=zThY6AtYGyVo&keythree...
199998  99998  keyone=2%3Amm_32227996_13146887_53270665%3A147...
199999  99999              keyone=785725209&keytwo=1477815069502

[200000 rows x 2 columns]

In [10]:
# pd.read_csv("./data/test2.csv", encoding="utf-8")