In [2]:
import pandas as pd

In [3]:
biGRU = pd.read_csv("./data/004#biGRU_diff.csv")

In [4]:
biLSTM = pd.read_csv("./data/004#dlstm_diff.csv")

In [5]:
biGRU

                                              urldata  pred  real  label
0   keyone=7976314481&keytwo=foo%2520AND%25201427%...     0     1      1
1   keyone=DF102861-F280-48A2-AAB8-8FD49E464E90&ke...     1     0      0
2   keyone=16-999.9+union+select+1%2Cconcat_ws%28u...     0     1      1
3   keyone=1478158744072_249&keytwo=1478073231783_...     0     1      1
4   keyone=-1+UNION+ALL+SELECT+1%2C2%2C3&keytwo=14...     0     1      1
5   keyone=-2551%2527%2520WHERE%25205598%253D5598%...     0     1      1
6   keyone=-1+union+select+1%2C2%2C3%2C4%2CUSER%28...     0     1      1
7   keyone=1478670190391_179&keytwo=1001-%5CN+unio...     0     1      1
8   keyone=dc11bc8986524b6adbce87e84a81c2558523238...     1     0      0
9   keyone=7971664867&keytwo=VdB25Ot2q&keythree=A+...     0     1      1
10  keyone=7977282134&keytwo=%25E5%25B7%25B2%25E7%...     1     0      0
11  keyone=-1%2F1%2F%252A%252A%2Funion%2523--&keyt...     0     1      1
12  keyone=66874745%252C66874745&keytwo=-999.9+UNI...     0     1      1
13  keyone=7857382807&keytwo=-1+union+select+1%2C2...     0     1      1
14  keyone=a2b845a5cc309175b4a68c4346a35aa4&keytwo...     1     0      0
15  keyone=8f71e9216b8b8a0e7dcd21fdb8f389f98522110...     0     1      1
16    keyone=7976172096&keytwo=-1+OR+1%3D2&keythree=2     0     1      1
17  keyone=1478679546598_236&keytwo=foo%2529%2520A...     0     1      1
18  keyone=-4822%2527%2520OR%2520%25287582%253D907...     0     1      1
19  keyone=11974609&keytwo=-3740%2529%2520OR%2520N...     0     1      1
20  keyone=%27+union+select+1%2C2%2Cuser%2Cpasswor...     0     1      1
21  keyone=-68+union+select+1%2Cgroup_concat%28tab...     0     1      1
22             keyone=1*1--&keytwo=1477587171356_1557     0     1      1
23  keyone=-1+-+%28select+1%29+-+union+all+select+...     0     1      1
24  keyone=http%253A%252F%252Fm.laiwang.com%252Fma...     1     0      0
25  keyone=jsonp79&keytwo=-1+or+1%3D%28select+user...     0     1      1
26  keyone=1477407299127_296&keytwo=7982588470&key...     0     1      1
27  keyone=527431399120&keytwo=3&keythree=1%2520AN...     0     1      1
28  keyone=foo%2522%253B%2520SELECT%2520COUNT%2528...     0     1      1
29  keyone=3d283a8b-85cf-4a9e-a270-4547cc554c4d&ke...     0     1      1
30  keyone=1478340974767_51&keytwo=_LATIN7%27foo%2...     0     1      1
31  keyone=1880+union+select+1%2C2%2C3%2C4+from+ne...     0     1      1
32  keyone=yT6XJ6hD0q&keytwo=-3523+union+select+1%...     0     1      1
33  keyone=-7175%2527%2529%2529%2520UNION%2520ALL%...     0     1      1
34  keyone=a806602f-309f-49ab-995b-355eae166b47&ke...     0     1      1

In [6]:
biLSTM

                                              urldata  pred  real  label
0   keyone=7970626356&keytwo=652467c580e75e97717e8...     1     0      0
1   keyone=bhNcRw548oi0wGeAqZag&keytwo=6&keythree=...     1     0      0
2   keyone=mm_10024662_3445902_14412152%2502204.76...     1     0      0
3   keyone=7971664867&keytwo=VdB25Ot2q&keythree=A+...     0     1      1
4   keyone=don%27t+hate+%28%29+el+%28select%29+cri...     1     0      0
5   keyone=http%253A%252F%252Frdstat.tanx.com%252F...     1     0      0
6   keyone=1477407299127_296&keytwo=7982588470&key...     0     1      1
7   keyone=7874728191&keytwo=platform%253Dweb%2526...     1     0      0
8   keyone=http%253A%252F%252Frdstat.tanx.com%252F...     1     0      0
9   keyone=eae3eab34b8ee&keytwo=7315038849&keythre...     1     0      0
10  keyone=http%253A%2F%2Fmobile.163.com%2F16%2F11...     1     0      0
11  keyone=PEQCI1RyOWzqFt2FvHZIwL1VKS7IGdF0o6P%252...     1     0      0
12  keyone=1478048648954_249&keytwo=b%27+or+1%3D%4...     0     1      1
13  keyone=dm%252D1%252D3062%252D0%252D329939785&k...     1     0      0
14  keyone=1477832806450_241&keytwo=3&keythree=htt...     1     0      0
15  keyone=-22+UnIoN+SeLecT+username+from+user+--+...     0     1      1
16  keyone=1477561540951_63&keytwo=7981372337&keyt...     1     0      0
17  keyone=jsonp52&keytwo=A%27+%252B+%27B&keythree...     0     1      1
18  keyone=in+1%2C2%2C3+old-fashioned+select+%28un...     1     0      0
19  keyone=530192093366&keytwo=7977284186&keythree...     1     0      0
20  keyone=http%25253A%25252F%25252Fwww.smzdm.com%...     1     0      0
21  keyone=1477792957172&keytwo=-1fUNION+SELECT+co...     0     1      1
22  keyone=one+of+the+best+select+char+films+union...     1     0      0
23  keyone=7968108360&keytwo=aa%253D%2526bb%253Dmm...     1     0      0
24  keyone=7982872358&keytwo=saddled+with+char+an+...     1     0      0
25  keyone=QnaZrcOeVZK7&keytwo=5&keythree=some+sel...     1     0      0
26  keyone=49902%3B18845471%3B8612%3B536955205579%...     1     0      0
27  keyone=1&keytwo=zlIpsTr8C2NfumWCnJqSgU%252BaH9...     1     0      0
28  keyone=85661390&keytwo=%25E4%25BA%25B2%25E5%25...     1     0      0
29  keyone=this+isn%27t+password+a+narrative+film+...     1     0      0
30  keyone=7983458929&keytwo=while+user+easier+to+...     1     0      0
31  keyone=-4+union+select+concat%28login%2C7%2Cpa...     0     1      1
32  keyone=rhBvbcHOTR%252F5rOlFNe0NueRE7m8V7I84sKg...     1     0      0
33  keyone=1477036923537_238&keytwo=%25E7%25A7%258...     1     0      0
34  keyone=1479283208194&keytwo=7983562189&keythre...     1     0      0
35  keyone=7975338425&keytwo=1478141192176_195&key...     0     1      1
36  keyone=%255Bt1300%255D%255BcINFO%255D%255Br1%2...     1     0      0
37  keyone=jsonp221&keytwo=1479186127909_199&keyth...     1     0      0